{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1 class="app-title">Recommended Workout</h1>
        <!-- Text field for workout name -->
        <div class="form-group">
            <label for="workoutName">Workout Name:</label>
            <!-- Limiting the width of the text field -->
            <input type="text" id="workoutName" name="workoutName" placeholder="Enter Workout Name">
            <p id="workoutNameError" style="color: red; display: none;">Please enter a workout name</p>
            <p id="workoutNameExistsError" style="color: red; display: none;">Workout name already exists</p>
        </div>
        <button id="addExerciseButton" class="btn btn-primary">Add Exercise</button>
        <p class="app-title">Current Exercises</p>
        <div id="workoutPage">
            <!-- Workouts will be dynamically added here -->
        </div>
        <button id="submitWorkoutButton" class="btn btn-success float-right">Submit Workout</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" 
        aria-labelledby="addExerciseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addExerciseModalLabel">Add Exercise</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="exerciseList" class="list-group">
                        <!-- Workouts will be dynamically added here -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='WorkoutPage.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='DarkTheme.css') }}"> 
{% endblock %}
{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Pre-select exercises based on the recommendation array -->
    <script>
        var preSelectedExercises = "{{ recommendation | safe }}";
        var preselectedInfo = {{ preselectedInfo | tojson | safe}};
        var workoutNames = "{{ workoutNames | safe }}";
    </script>
    <script src="{{ url_for('static', filename='WorkoutPage.js') }}"></script>
{% endblock %}
