{% extends "Base.html" %}
{% block title %}Recommender{% endblock %}

{% block additional_css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Recommender.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DarkTheme.css') }}">
{% endblock %}

<!-- This is just sample code. Someone add code to make it a recommender--> 
{% block content %}
<div>
    <div>
        <form method="post" style="text-align: center;">
            <h3>Recommender</h3>
            <div class="form-group">
                <label for="MuscleGroup">Muscle Group</label>
                <select class="form-control" id="MuscleGroup" name="MuscleGroup">
                    <option value="Chest">Chest</option>
                    <option value="Back">Back</option>
                    <option value="Legs">Legs</option>
                    <option value="Arms">Arms</option>
                    <option value="Abs">Abs</option>
                </select>
            </div>
            <div class="form-group">
                <label for="Equipment">Available Equipment</label>
                <select class="form-control" id="Equipment" name="Equipment">
                    <option value="Body Weight">BodyWeight</option>
                    <option value="Dumbbell">Dumbbell</option>
                    <option value="Full Gym">FullGym</option>
                </select>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
