/* Add your dark theme styles here */
body {
  background-color: #2b2b2b; /* Dark background color */
  color: #fff; /* Light text color */
}

.modal-content {
  background-color: #444; /* Dark modal background color */
  color: #fff; /* Light text color */
}

.modal-body {
  background-color: #444; /* Dark modal background color */
  color: #fff; /* Light text color */
}

/* Adjust text color of list items in modal */
.modal-body .list-group-item {
  color: #fff; /* Light text color */
  background-color: transparent; /* Transparent background to prevent obscuring text */
}

.limited-width {
  width: 300px; /* Adjust the width as needed */
}
