/* WorkoutViewer.css */

/* Dark theme styles */
body {
    background-color: #2b2b2b; /* Dark background color */
    color: #fff; /* Light text color */
    font-family: Arial, sans-serif; /* Font family */
    margin: 0;
    padding: 0;
}

/* Style the scrollbar track */
.workout-block::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
    background-color: #333; /* Dark color for the scrollbar track */
}

/* Style the scrollbar thumb */
.workout-block::-webkit-scrollbar-thumb {
    background-color: #555; /* Dark color for the scrollbar thumb */
    border-radius: 4px; /* Add some border radius to make it rounded */
}

.workout-block {
    background-color: #444; /* Dark block background color */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    display: inline-block; /* Display workout blocks side by side */
    margin-right: 20px; /* Add some spacing between workout blocks */
    max-height: 226px; /* Maximum height for the workout block */
    height: 226px;
    width: 180px;
    overflow-y: auto; /* Enable vertical scroll if content exceeds max-height */
}

.workout-block h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px; /* Increase the font size */
    font-weight: bold; /* Make it bold */
}

.workout-block ul {
    list-style-type: none;
    padding: 0;
}

.workout-block ul li {
    margin-bottom: 5px;
}

.start-workout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap;
}

.start-workout-btn:hover {
    background-color: #0056b3;
}
